body {
    margin:0px;
    padding:0px;
    background-color: #12263f;
}
#navigation-bar {
    padding:10px 0px;
    margin: 0px;
    background-color: #12263f;
    text-align: right;
    width:100%;
    height: auto;
    position:fixed;
    z-index: 1;
    
}

a {
    display: inline-block;
    width:fit-content;
    margin: 0px 3%;
    padding:10px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: larger;
}

#current {

    color: #5ea8b1;
    background-color: #12263f;
    border-bottom: 2px solid #589ba2;
}
div {
    color: #000;
    text-align: center;
}

.content {
    height: auto;
    background-color: #fff;  
    min-width: 900px;  
}

.content-top {
    font-size: 40px;
    /* border: 1px solid black; */
    padding: 20px;
    padding-top: 100px;
    color:#212122;
    border-bottom: 2px solid #589ba2;
    width:fit-content;
    margin:auto;
}

.content-body {
    height: auto;
    width: 70%;
    min-width: 900px;
    margin: auto;
    margin-top: 20px;
    padding: auto;
    background-color: #3c4e64;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
}
.somespace {
    height: 50px;
}

.content-body span {
    display:block;
    padding-top: 20px;
    margin-bottom: 30px;

}

.cards {
    background-color: #23354b;
    height:300px;
    width: 250px;
    border-radius: 30px;
    display: inline-block;
    margin: 1%;
    font-size: 20px;
}

#card-1 {
    display: block;
    margin: auto;
    margin-bottom: 60px;
}

.cards img {
    height:200px;
    width: 200px;
    border-radius: 100px;
    margin:auto;
    margin-top: 10px;

}

.cards span {
    padding: 0px;
    margin:auto;
    color: #fff;
}

.cards a img{
    height:25px;
    width:25px;
    margin:auto;
    border-radius: 0px;
    margin-top: 10px;
}

.footer {
    display: block;
    width: 100%;
    margin: 0px;
    height:400px;
    min-width: 900px;
    background-color: #061d36;

}

#left {
    margin: none;
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 5%;
}
#center {
    margin: 0px;
    width: 30%;
    float: left;
}
#right {
    margin: none;
    width: 30%;
    height: 100%;
    float:left;

}
.footer span {
    display: block;
    width:auto;
    color: rgb(168, 172, 173);
    font-size: 25px;
    margin-top: 60px;
    margin-bottom:20px;
    padding-left:100px;
    text-align: left;
}
.footer a {
    display: block;
    width:fit-content;
    margin: auto;
    padding-left:100px;
    margin-left: 0px;
    margin-top:20px;
}
.footer a:last-of-type {
    margin-bottom:40px;
}
.footer a img {
    height:25px;
    width:25px;
    margin:auto;
    padding:0px;
    padding-right:10px;
    border-radius:0px;
    float:left;
}


@media  screen and (max-width: 600px) {
    
    #navigation-bar a {
        display:block;
        width:100%;
        margin:auto;
        font-size: 30px;
        height: 50px;
    }

    .content {
        padding-top: 300px;
    }
    
    #left {
        width: 100%;
        margin: 0px;
    }
    #center {
        width: 100%;
    }
    #right {
        width: 100%;
    }
    .footer span {
        font-size: 40px;
        height: 50px;
    }
    .footer a {
        font-size: 30px;
        height: 50px;
        margin-top:0px;
    }
    

}
